@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Merriweather:wght@300&display=swap");

#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    font-size: 22px;
    background-color: #f4dca4;
    margin: 0;
    padding: 0;
}

header{
    background-color: #0e70a5;
}

h2{
    margin: 0;
}

.logo{
    width: 80px;
}

#logo-link{
    padding-top: 5px;
}

nav a{
    font-family: Barlow, Helvetica, sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: white;
    color: #474747;
}

.home-title{
    font-size: 2em;
    font-family: Merriweather, Verdana, 'Trebuchet MS';
    color: #474747;
    margin-top: 10px;
}

#hero-img{
    width: 100%;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

h4{
    font-family: Barlow, Helvetica, sans-serif;
    color: #474747;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#background{
    height: 725px;
    background-color: whitesmoke;
}

.book, .join{
    font-size: 18px;
    font-family: Barlow, Helvetica, sans-serif;
    background-color: #f4dca4;
    color: #0e70a5;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: #0e70a5;
    color: white;
}

.msg{
    line-height: 1.5em;
    padding: 35px;
}

.msg h2{
    font-family: Merriweather, Verdana, 'Trebuchet MS';
    color: #474747;
}

.msg p{
    font-size: .8em;
    font-family: Barlow, Helvetica, sans-serif;
    color: #474747;
    padding-bottom: 15px;
}

.card-img{
    border: 10px solid #474747;
}

.camping-card, .river-card, .rapids-card{
    font-family: Merriweather, Verdana, 'Trebuchet MS';
    margin: 200px 0;
}

main section img{
    box-sizing: border-box;
}

footer{
    font-family: Barlow, Helvetica, sans-serif;
    background-color: #474747;
    color: whitesmoke;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p{
    font-size: 1.2em;
}

footer .social img{
    padding-top: 15px;
}

footer p a:hover{
    text-decoration: underline;
}

footer a{
    color: whitesmoke;
    text-decoration: none;
}

footer a:hover{
    color: #f4dca4;
}